.sec-drink{
	padding: 44px 0;
	background: #eae7e0;
}
.list-drink{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px -30px;
	@include mq{
		margin: 0 -2.5px  -5px;
	}
	@include mq(sm){
		margin-bottom: -30px;
	}
	&__item{
		width: 33.33%;
		padding: 0 15px;
		margin-bottom: 30px;
		@include mq{
			padding: 0 2.5px;
			margin-bottom: 5px;
		}
		@include mq(sm){
			width: 100%;
			margin-bottom: 30px;
		}
	}
	.img{
		margin-bottom: 15px;
		&:before{
			padding-bottom:calc(246/370*100%);
		}
	}

	&__ttl{
		font-weight: bold;
		@include text(20,26);
		text-transform: uppercase;
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		padding-left: 5px;
		@include mq{
			@include font-size(16);
			padding-left: 7px;
		}
		a{
			height: 26px;
			overflow: hidden;
		}
		span{
			font-family: $font-flamenco;
			color:#c6a17b;
			@include font-size(33);
			line-height: 24px;
			margin-right: 10px;
			padding-left:5px;
			@include mq{
				@include font-size(25);
			}
		}
		a{
			color:inherit;
		}
	}
	.txtBase{
		max-height: 75px;
		overflow: hidden;
	}
}
.list-picdrink{
	&:after{
		content:"";
		display: block;
		clear: both;
	}
	&__item{
		width: 20%;
		float: left;
		@include mq{
			width: 33.33%;
		}
		.img{
			&:before{
				padding-bottom: calc(389/385*100%);
			}
		}
		&:nth-child(1){
			width: 40%;
			float: left;
			@include mq{
				width: 100%;
			}
			&:before{
				padding-bottom: calc(788/750*100%);
			}
		}
	}
}
.sec-picdrink{
	margin-bottom: 40px;
}