#ControlCate{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#ControlCate .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#ControlCate .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#ControlCate .BgTabTitle a{font-weight:bold;line-height:26px}
#ControlCate .split{float:left;width:9px;text-align:center}
#ControlCate .cot1,#ControlCate .cot2,#ControlCate .cot3,#ControlCate .cot4,#ControlCate .cot5,#ControlCate .cot6,#ControlCate .cot7{float:left}
#ControlCate .cot1{width:30px;text-align:center}
#ControlCate .cot2{width:220px;padding-left:10px;position:relative;z-index:1}
#ControlCate .cot3{width:100px;padding-left:5px}
#ControlCate .cot4{width:100px}
#ControlCate .cot5{width:55px}
#ControlCate .cot6{width:70px}
#ControlCate .cot7{width: 120px;text-align: right}
#ControlCate input[type=text]{width:40px;text-align:center}

#ControlCate .content{}
#ControlCate .content .FormatCellItem{background-color: #F2F2F2}
#ControlCate .content .FormatCellItem:hover{background-color: #edf9eb}

#ControlCate .content .FormatCellItemOther{background-color: transparent}
#ControlCate .content .FormatCellItemOther:hover{background-color: #edf9eb}

#ControlCate .content .pdCellItem{padding: 10px 0}
#ControlCate .content .pdCellItemOther{padding: 10px 0}

#ControlCate .content .splitc{float:left;width:9px;text-align:center}
#ControlCate .content .SpaceRow{background-color:#D4D4D4;height:1px}
#ControlCate .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#ControlCate .content .Tool{ padding-left: 10px;float: right}
#ControlCate .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#ControlCate .EnableIcon0,#ControlCate .EnableIcon1{padding-top: 3px}

#ControlCate .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;display:block;position:absolute;z-index:1;left:-4px;top:1px}
#ControlCate .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;display:block;position:absolute;z-index:1;left:-4px;top:1px}