#NewRecycleProperty{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#NewRecycleProperty .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#NewRecycleProperty .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#NewRecycleProperty .BgTabTitle a{font-weight:bold;line-height:26px}
#NewRecycleProperty .split{float:left;width:9px;text-align:center}
#NewRecycleProperty .cot1,#NewRecycleProperty .cot2,#NewRecycleProperty .cot3,#NewRecycleProperty .cot4,#NewRecycleProperty .cot5{float:left}
#NewRecycleProperty .cot1{ width: 30px}
#NewRecycleProperty .cot2{width:220px;padding-left:5px}
#NewRecycleProperty .cot4{width:350px}
#NewRecycleProperty .cot5{width:55px}
#NewRecycleProperty .cot7{float: right;width: 50px;padding-right: 10px}
#NewRecycleProperty input[type=text]{width:40px;text-align:center}

#NewRecycleProperty .content{}
#NewRecycleProperty .content .FormatCellItem{background-color: #F2F2F2}
#NewRecycleProperty .content .FormatCellItem:hover{background-color: #edf9eb}

#NewRecycleProperty .content .FormatCellItemOther{background-color: transparent}
#NewRecycleProperty .content .FormatCellItemOther:hover{background-color: #edf9eb}

#NewRecycleProperty .content .pdCellItem{padding: 10px 0}
#NewRecycleProperty .content .pdCellItemOther{padding: 10px 0}

#NewRecycleProperty .content .splitc{float:left;width:9px;text-align:center}
#NewRecycleProperty .content .SpaceRow{background-color:#D4D4D4;height:1px}
#NewRecycleProperty .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#NewRecycleProperty .content .Tool{ padding-left: 10px;float: right}
#NewRecycleProperty .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#NewRecycleProperty .EnableIcon0,#NewRecycleProperty .EnableIcon1{padding-top: 3px}

#NewRecycleProperty .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}
#NewRecycleProperty .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}

.ColPrintAndExcel{float:right;width:50px;margin-top:-25px}
.ColPrint{float:right;width:24px}
.ColExcel{float:right;width:20px}

