#PhotoAlbumRecycleProperty{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#PhotoAlbumRecycleProperty .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#PhotoAlbumRecycleProperty .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#PhotoAlbumRecycleProperty .BgTabTitle a{font-weight:bold;line-height:26px}
#PhotoAlbumRecycleProperty .split{float:left;width:9px;text-align:center}
#PhotoAlbumRecycleProperty .cot1,#PhotoAlbumRecycleProperty .cot2,#PhotoAlbumRecycleProperty .cot3,#PhotoAlbumRecycleProperty .cot4,#PhotoAlbumRecycleProperty .cot5{float:left}
#PhotoAlbumRecycleProperty .cot1{ width: 30px}
#PhotoAlbumRecycleProperty .cot2{width:220px;padding-left:5px}
#PhotoAlbumRecycleProperty .cot4{width:350px}
#PhotoAlbumRecycleProperty .cot5{width:55px}
#PhotoAlbumRecycleProperty .cot7{float: right;width: 50px;padding-right: 10px}
#PhotoAlbumRecycleProperty input[type=text]{width:40px;text-align:center}

#PhotoAlbumRecycleProperty .content{}
#PhotoAlbumRecycleProperty .content .FormatCellItem{background-color: #F2F2F2}
#PhotoAlbumRecycleProperty .content .FormatCellItem:hover{background-color: #edf9eb}

#PhotoAlbumRecycleProperty .content .FormatCellItemOther{background-color: transparent}
#PhotoAlbumRecycleProperty .content .FormatCellItemOther:hover{background-color: #edf9eb}

#PhotoAlbumRecycleProperty .content .pdCellItem{padding: 10px 0}
#PhotoAlbumRecycleProperty .content .pdCellItemOther{padding: 10px 0}

#PhotoAlbumRecycleProperty .content .splitc{float:left;width:9px;text-align:center}
#PhotoAlbumRecycleProperty .content .SpaceRow{background-color:#D4D4D4;height:1px}
#PhotoAlbumRecycleProperty .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#PhotoAlbumRecycleProperty .content .Tool{ padding-left: 10px;float: right}
#PhotoAlbumRecycleProperty .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#PhotoAlbumRecycleProperty .EnableIcon0,#PhotoAlbumRecycleProperty .EnableIcon1{padding-top: 3px}

#PhotoAlbumRecycleProperty .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}
#PhotoAlbumRecycleProperty .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}

.ColPrintAndExcel{float:right;width:50px;margin-top:-25px}
.ColPrint{float:right;width:24px}
.ColExcel{float:right;width:20px}

