<header id="header">
	<div class="inner">
		<a href="/" class="logo">logo</a>
		<nav class="nav-menu">
			<ul class="show-menu">
				<li class="item">
					<a href="">Demo</a>
				</li>
				<li class="item">
					<a href="">Demo</a>
				</li>
				<li class="item">
					<a href="">Demo</a>
				</li>
				<li class="item">
					<a href="">Demo</a>
				</li>
				<li class="item">
					<a href="">Demo</a>
				</li>
			</ul>
		</nav>
		<span class="mobile-icon">
			<span></span>
		</span>
	</div>
</header>