#BlogRecycleProperty{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#BlogRecycleProperty .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#BlogRecycleProperty .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#BlogRecycleProperty .BgTabTitle a{font-weight:bold;line-height:26px}
#BlogRecycleProperty .split{float:left;width:9px;text-align:center}
#BlogRecycleProperty .cot1,#BlogRecycleProperty .cot2,#BlogRecycleProperty .cot3,#BlogRecycleProperty .cot4,#BlogRecycleProperty .cot5{float:left}
#BlogRecycleProperty .cot1{ width: 30px}
#BlogRecycleProperty .cot2{width:220px;padding-left:5px}
#BlogRecycleProperty .cot4{width:350px}
#BlogRecycleProperty .cot5{width:55px}
#BlogRecycleProperty .cot7{float: right;width: 50px;padding-right: 10px}
#BlogRecycleProperty input[type=text]{width:40px;text-align:center}

#BlogRecycleProperty .content{}
#BlogRecycleProperty .content .FormatCellItem{background-color: #F2F2F2}
#BlogRecycleProperty .content .FormatCellItem:hover{background-color: #edf9eb}

#BlogRecycleProperty .content .FormatCellItemOther{background-color: transparent}
#BlogRecycleProperty .content .FormatCellItemOther:hover{background-color: #edf9eb}

#BlogRecycleProperty .content .pdCellItem{padding: 10px 0}
#BlogRecycleProperty .content .pdCellItemOther{padding: 10px 0}

#BlogRecycleProperty .content .splitc{float:left;width:9px;text-align:center}
#BlogRecycleProperty .content .SpaceRow{background-color:#D4D4D4;height:1px}
#BlogRecycleProperty .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#BlogRecycleProperty .content .Tool{ padding-left: 10px;float: right}
#BlogRecycleProperty .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#BlogRecycleProperty .EnableIcon0,#BlogRecycleProperty .EnableIcon1{padding-top: 3px}

#BlogRecycleProperty .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}
#BlogRecycleProperty .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}

.ColPrintAndExcel{float:right;width:50px;margin-top:-25px}
.ColPrint{float:right;width:24px}
.ColExcel{float:right;width:20px}

