/*LoadControls - Khung trang trai-phai*/
.PositionLeftControl{float:left;width:208px}
.PositionRightControl{float:left;width:775px;min-height:560px}
/*End LoadControls - Khung trang trai-phai - end*/

/*Cac Icon cua modul news*/
#MemberModul .iconDanhMuc,#MemberModul .iconDanhSach,#MemberModul .iconNhom,#MemberModul .iconThuocTinh,#MemberModul .iconPhanHoi,#MemberModul .iconDanhMucThemMoi,
#MemberModul .iconDanhSachThemMoi,#MemberModul .iconNhomThemMoi,#MemberModul .iconThuocTinhThemMoi,#MemberModul .iconThemVaoNhom,
#MemberModul .iconTagItems,#MemberModul .iconTagGroups,#MemberModul .iconChiTiet,#MemberModul .iconLock,#MemberModul .iconEmailAlert
{width:16px;height:16px;cursor:pointer;display:inline-block}
#MemberModul .iconDanhSach{background:url(ManagerItem.png) no-repeat}

/*Left Product - Cac menu quan ly ben trai*/
#MemberLeftMenu{}
#MemberLeftMenu .BgTabTongQuan{background:url(BgTabTongQuan.png) no-repeat;width:204px;height:37px;}
#MemberLeftMenu .BgTabTongQuan a.TextInTabTongQuan{font:bold 12px Tahoma;color:#464646;display:block;padding-left:13px;line-height:29px;text-decoration:none}
#MemberLeftMenu .BgTabTongQuan a.TextInTabTongQuan:hover{color:#52c313}
#MemberLeftMenu .DanhMucQuanLy{font:bold 11px Tahoma;color:#4e4e4e;padding-left:13px;padding-top:5px;}
#MemberLeftMenu .TextCateManager{float:left;font:normal 11px Tahoma;color:#4e4e4e;text-decoration:none;line-height:24px;}
#MemberLeftMenu a.TextCateManager{float:left;font:normal 11px Tahoma;color:#4e4e4e;text-decoration:none;line-height:24px;}
#MemberLeftMenu a.TextCateManager:hover{color:#00ad24}
#MemberLeftMenu .InvisibleSpaceCate{display:none}
#MemberLeftMenu .PdSpaceCate{height:1px;padding:5px 0 3px 0px;}
#MemberLeftMenu .SpaceCate{background-color:#d4d4d4;height:1px;width:195px;}
#MemberLeftMenu .PdIconInfomation{float:left;padding-left:9px;width:20px;padding-top:4px;}
#MemberLeftMenu .PdSubIconRecycleBin{float:left;padding-left:45px;width:10px;padding-top:5px;}
#MemberLeftMenu .PdIconSeo{float:left;padding-left:9px;width:20px;padding-top:4px}
#MemberLeftMenu .PdIconMail{float:left;padding-left:9px;width:20px;padding-top:6px}
#MemberLeftMenu .ArroundCate{position:relative;left:1px;width:208px;height:24px;border-left:solid 1px Transparent;border-top:solid 1px Transparent;border-bottom:solid 1px Transparent;}
#MemberLeftMenu .ArroundCateSelected{background-color:#f9f9f9;position:relative;left:1px;width:207px;height:24px;border-left:solid 1px #d4d4d4;border-top:solid 1px #d4d4d4;border-bottom:solid 1px #d4d4d4;}
*html #MemberLeftMenu .ArroundCate{position:relative;left:1px;width:208px;height:24px;border-left:solid 1px Transparent;border-top:solid 1px Transparent;border-bottom:solid 1px Transparent;border:0;}
*html #MemberLeftMenu .ArroundCateSelected{background-color:#f9f9f9;position:relative;left:1px;width:207px;height:24px;border-left:solid 1px #d4d4d4;border-top:solid 1px #d4d4d4;border-bottom:solid 1px #d4d4d4;}
/*Left Product - Cac menu quan ly ben trai - end*/

#FooterRightControl{border-top:0;text-align:right}
#FooterRightControl .pdFooterR{padding-left: 10px}
#FooterRightControl .ColShowItem{ float: right;width: 120px;padding-top: 12px}
#FooterRightControl .ColShowItem .TextShow{ float: left;width: 50px;padding-top:3px;padding-right:5px}
#FooterRightControl .ColShowItem .BoxShow{ float: left;width: 50px}
#FooterRightControl .ColPagging{float:right;width:auto}

#ListMember .ColShowItem{ float: right;width: 120px;padding-top: 0}
#ListMember .ColShowItem .TextShow{ float: left;width: 50px;padding-top:0;padding-right:5px}
#ListMember .ColShowItem .BoxShow{ float: left;width: 50px}
#ListMember .ColPagging{float:right;width:auto}
#ListMember .AdminPagging a {}
#ListMember .AdminPagging .currentPS {  
    line-height: 12px;
    margin: 1px;
    padding: 3px 9px;
}
#ListMember .AdminPagging .otherPS {   
    line-height: 12px;
    margin: 1px;
    padding: 3px 9px;
}
#ListMember .AdminPagging .firstPS {
    line-height: 12px;
    margin: 1px;
    padding: 3px 19px;
}
#ListMember .AdminPagging .lastPS {
    line-height: 12px;
    margin: 1px;
    padding: 3px 19px;
}
#ListMember .AdminPagging .previewPS {
    line-height: 12px;
    margin: 1px;
    padding: 3px 12px;
}
#ListMember .AdminPagging .nextPS {
    line-height: 12px;
    margin: 1px;
    padding: 3px 12px;
}