#VideoRecycleProperty{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#VideoRecycleProperty .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#VideoRecycleProperty .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#VideoRecycleProperty .BgTabTitle a{font-weight:bold;line-height:26px}
#VideoRecycleProperty .split{float:left;width:9px;text-align:center}
#VideoRecycleProperty .cot1,#VideoRecycleProperty .cot2,#VideoRecycleProperty .cot3,#VideoRecycleProperty .cot4,#VideoRecycleProperty .cot5{float:left}
#VideoRecycleProperty .cot1{ width: 30px}
#VideoRecycleProperty .cot2{width:220px;padding-left:5px}
#VideoRecycleProperty .cot4{width:350px}
#VideoRecycleProperty .cot5{width:55px}
#VideoRecycleProperty .cot7{float: right;width: 50px;padding-right: 10px}
#VideoRecycleProperty input[type=text]{width:40px;text-align:center}

#VideoRecycleProperty .content{}
#VideoRecycleProperty .content .FormatCellItem{background-color: #F2F2F2}
#VideoRecycleProperty .content .FormatCellItem:hover{background-color: #edf9eb}

#VideoRecycleProperty .content .FormatCellItemOther{background-color: transparent}
#VideoRecycleProperty .content .FormatCellItemOther:hover{background-color: #edf9eb}

#VideoRecycleProperty .content .pdCellItem{padding: 10px 0}
#VideoRecycleProperty .content .pdCellItemOther{padding: 10px 0}

#VideoRecycleProperty .content .splitc{float:left;width:9px;text-align:center}
#VideoRecycleProperty .content .SpaceRow{background-color:#D4D4D4;height:1px}
#VideoRecycleProperty .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#VideoRecycleProperty .content .Tool{ padding-left: 10px;float: right}
#VideoRecycleProperty .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#VideoRecycleProperty .EnableIcon0,#VideoRecycleProperty .EnableIcon1{padding-top: 3px}

#VideoRecycleProperty .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}
#VideoRecycleProperty .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}

.ColPrintAndExcel{float:right;width:50px;margin-top:-25px}
.ColPrint{float:right;width:24px}
.ColExcel{float:right;width:20px}

