#DealControlProperty{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#DealControlProperty .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#DealControlProperty .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#DealControlProperty .BgTabTitle a{font-weight:bold;line-height:26px}
#DealControlProperty .split{float:left;width:9px;text-align:center}
#DealControlProperty .cot1,#DealControlProperty .cot2,#DealControlProperty .cot3,#DealControlProperty .cot4,#DealControlProperty .cot5,#DealControlProperty .cot6,#DealControlProperty .cot7{float:left}
#DealControlProperty .cot1{width:30px;text-align:center}
#DealControlProperty .cot2{width:220px;padding-left:5px}
#DealControlProperty .cot3{width:100px;padding-left:5px}
#DealControlProperty .cot4{width:100px}
#DealControlProperty .cot5{width:55px}
#DealControlProperty .cot6{width:70px}
#DealControlProperty .cot7{width: 120px;text-align: right;float:right;padding-right:10px}
#DealControlProperty input[type=text]{width:40px;text-align:center}

#DealControlProperty .content{}
#DealControlProperty .content .FormatCellItem{background-color: #F2F2F2}
#DealControlProperty .content .FormatCellItem:hover{background-color: #edf9eb}

#DealControlProperty .content .FormatCellItemOther{background-color: transparent}
#DealControlProperty .content .FormatCellItemOther:hover{background-color: #edf9eb}

#DealControlProperty .content .pdCellItem{padding: 10px 0}
#DealControlProperty .content .pdCellItemOther{padding: 10px 0}

#DealControlProperty .content .splitc{float:left;width:9px;text-align:center}
#DealControlProperty .content .SpaceRow{background-color:#D4D4D4;height:1px}
#DealControlProperty .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#DealControlProperty .content .Tool{ padding-left: 10px;float: right}
#DealControlProperty .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#DealControlProperty .EnableIcon0,#DealControlProperty .EnableIcon1{padding-top: 3px}

#DealControlProperty .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}
#DealControlProperty .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}