#TagsInCate{ font: normal 12px Tahoma}
#TagsInCate .TitleItem{font:bold 12px Tahoma;color:#444;display:block;padding:5px 0 8px 0}
#TagsInCate .ColDropdownList{float:right}
#TagsInCate .TitleListBox{font-weight:bold;padding-bottom:8px}
#TagsInCate .pdButtonGet{padding-top:80px;padding-bottom:25px}
#TagsInCate .MesText{color:Red;padding-bottom:5px}
#TagsInCate .NoteText{color:Red;font-weight:bold}
#TagsInCate .cb10{ clear: both;height:10px}