#ProductControlColor{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#ProductControlColor .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#ProductControlColor .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#ProductControlColor .BgTabTitle a{font-weight:bold;line-height:26px}
#ProductControlColor .split{float:left;width:9px;text-align:center}
#ProductControlColor .cot1,#ProductControlColor .cot2,#ProductControlColor .cot3,#ProductControlColor .cot4,#ProductControlColor .cot5,#ProductControlColor .cot6,#ProductControlColor .cot7{float:left}
#ProductControlColor .cot1{width:30px;text-align:center}
#ProductControlColor .cot2{width:220px;padding-left:5px}
#ProductControlColor .cot3{width:100px;padding-left:5px}
#ProductControlColor .cot4{width:100px}
#ProductControlColor .cot5{width:55px}
#ProductControlColor .cot6{width:70px}
#ProductControlColor .cot7{width: 120px;text-align: right;float:right;padding-right:10px}
#ProductControlColor input[type=text]{width:40px;text-align:center}

#ProductControlColor .content{}
#ProductControlColor .content .FormatCellItem{background-color: #F2F2F2}
#ProductControlColor .content .FormatCellItem:hover{background-color: #edf9eb}

#ProductControlColor .content .FormatCellItemOther{background-color: transparent}
#ProductControlColor .content .FormatCellItemOther:hover{background-color: #edf9eb}

#ProductControlColor .content .pdCellItem{padding: 10px 0}
#ProductControlColor .content .pdCellItemOther{padding: 10px 0}

#ProductControlColor .content .splitc{float:left;width:9px;text-align:center}
#ProductControlColor .content .SpaceRow{background-color:#D4D4D4;height:1px}
#ProductControlColor .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#ProductControlColor .content .Tool{ padding-left: 10px;float: right}
#ProductControlColor .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#ProductControlColor .EnableIcon0,#ProductControlColor .EnableIcon1{padding-top: 3px}

#ProductControlColor .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}
#ProductControlColor .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}