#DealControlColor{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#DealControlColor .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#DealControlColor .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#DealControlColor .BgTabTitle a{font-weight:bold;line-height:26px}
#DealControlColor .split{float:left;width:9px;text-align:center}
#DealControlColor .cot1,#DealControlColor .cot2,#DealControlColor .cot3,#DealControlColor .cot4,#DealControlColor .cot5,#DealControlColor .cot6,#DealControlColor .cot7{float:left}
#DealControlColor .cot1{width:30px;text-align:center}
#DealControlColor .cot2{width:220px;padding-left:5px}
#DealControlColor .cot3{width:100px;padding-left:5px}
#DealControlColor .cot4{width:100px}
#DealControlColor .cot5{width:55px}
#DealControlColor .cot6{width:70px}
#DealControlColor .cot7{width: 120px;text-align: right;float:right;padding-right:10px}
#DealControlColor input[type=text]{width:40px;text-align:center}

#DealControlColor .content{}
#DealControlColor .content .FormatCellItem{background-color: #F2F2F2}
#DealControlColor .content .FormatCellItem:hover{background-color: #edf9eb}

#DealControlColor .content .FormatCellItemOther{background-color: transparent}
#DealControlColor .content .FormatCellItemOther:hover{background-color: #edf9eb}

#DealControlColor .content .pdCellItem{padding: 10px 0}
#DealControlColor .content .pdCellItemOther{padding: 10px 0}

#DealControlColor .content .splitc{float:left;width:9px;text-align:center}
#DealControlColor .content .SpaceRow{background-color:#D4D4D4;height:1px}
#DealControlColor .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#DealControlColor .content .Tool{ padding-left: 10px;float: right}
#DealControlColor .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#DealControlColor .EnableIcon0,#DealControlColor .EnableIcon1{padding-top: 3px}

#DealControlColor .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}
#DealControlColor .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}