.ffTahoma{font-family:Tahoma}
.fs12{font-size:12px}
.fs24{font-size:24px}
.fwb{font-weight:bold}
.w850{width:850px}
.h5{height:5px}
.pt15{padding-top:15px}
.pt10{padding-top:10px}
.pt5{padding-top:5px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pl5{padding-left:5px}
.pr5{padding-right:5px}
.ma{margin:auto}
.fl{float:left}
.cb{clear:both}
.tac{text-align:center}
.tar{text-align:right}
.tal{text-align:left}
.w120{width:120px}

.date{font:normal 11px Tahoma;color:#454545}
.DocGia{font:bold 12px Tahoma;font-style:italic}
.bda{border:solid 1px #000}
.bdt{border-top:solid 1px #000}
.bdr{border-right:solid 1px #000}
.bdb{border-bottom:solid 1px #000}
.bdl{border-left:solid 1px #000}
.thongTinKH{padding:20px 0;line-height:18px}