<main class="page-<%= pageData.template %>">
	<section class="sec-mv">
		<ul class="slider-home">
			<li class="item">
				<img src="http://placehold.it/1920x500?text=1">
			</li>
			<li class="item">
				<img src="http://placehold.it/1920x500?text=2">
			</li>	<li class="item">
				<img src="http://placehold.it/1920x500?text=2">
		</ul>
	</section>
</main>