@media (max-width:1280px) {
}
@media (max-width:992px){
    .container{width:95%}
    .leftCol,.rightCol{clear:both;float:none;width:auto;margin-bottom:20px} 
    .leftCol{background:none;padding-top:10px}

    .slogan{background:none}
    .slogan span{display:inline-block;padding-right:20px}

    .rightCol .control input[type=text],
    .rightCol .control input[type=password]{width:86%;padding:10px 5px}
    .rightCol .text{padding-top:10px}
}
@media (max-width:768px){
    .slogan span{font-size:16px;font-weight:bold}

    .rightCol .control input[type=text],
    .rightCol .control input[type=password]{width:94%;margin-top:5px}
}
