#PopupAddFilterPropertiesToCategory {}
#PopupAddFilterPropertiesToCategory .tenDanhMuc{font:normal 16px Tahoma;padding-top:10px}
#PopupAddFilterPropertiesToCategory .KhungPopup{font:normal 12px Tahoma;margin:0;padding:0;width:860px;margin:auto}
#PopupAddFilterPropertiesToCategory .KhungBen{float:left;width:380px}
#PopupAddFilterPropertiesToCategory .KhungGiua{float:left;width:80px;padding-top:100px}
#PopupAddFilterPropertiesToCategory .ChuaGan{font:bold 12px Tahoma;color:#ff0000;padding-top:15px}
#PopupAddFilterPropertiesToCategory .DaGan{font:bold 12px Tahoma;color:#000;padding-top:15px}
#PopupAddFilterPropertiesToCategory .pt5{padding-top:5px}
#PopupAddFilterPropertiesToCategory .chuY{color:#ff0000;padding-top:10px}
#PopupAddFilterPropertiesToCategory .cb{clear:both}
#PopupAddFilterPropertiesToCategory .fwb{font-weight:bold}
#PopupAddFilterPropertiesToCategory .pt5{padding-top:5px}
#PopupAddFilterPropertiesToCategory .cRed{color:red}
#PopupAddFilterPropertiesToCategory .c000{color:#000}