#votec{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#votec .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#votec .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#votec .BgTabTitle a{font-weight:bold;line-height:26px}
#votec .split{float:left;width:9px;text-align:center}
#votec .cot1,#votec .cot2,#votec .cot3,#votec .cot4,#votec .cot5,#votec .cot6,#votec .cot7{float:left}
#votec .cot1{width:30px;text-align:center}
#votec .cot2{width:220px;padding-left:10px;position:relative;z-index:1}
#votec .cot3{width:100px;padding-left:5px}
#votec .cot4{width:100px}
#votec .cot5{width:55px}
#votec .cot6{width:70px}
#votec .cot7{width: 120px;text-align: right}
#votec input[type=text]{width:40px;text-align:center}

#votec .content{}
#votec .content .FormatCellItem{background-color: #F2F2F2}
#votec .content .FormatCellItem:hover{background-color: #edf9eb}

#votec .content .FormatCellItemOther{background-color: transparent}
#votec .content .FormatCellItemOther:hover{background-color: #edf9eb}

#votec .content .pdCellItem{padding: 10px 0}
#votec .content .pdCellItemOther{padding: 10px 0}

#votec .content .splitc{float:left;width:9px;text-align:center}
#votec .content .SpaceRow{background-color:#D4D4D4;height:1px}
#votec .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#votec .content .Tool{ padding-left: 10px;float: right}
#votec .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#votec .EnableIcon0,#votec .EnableIcon1{padding-top: 3px}

#votec .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;display:block;position:absolute;z-index:1;left:-4px;top:1px}
#votec .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;display:block;position:absolute;z-index:1;left:-4px;top:1px}