#ContentControlCate{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#ContentControlCate .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#ContentControlCate .BgTabTitle{font:bold 11px Tahoma;background:#d4d4d4;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#ContentControlCate .BgTabTitle a{font-weight:bold;line-height:26px}
#ContentControlCate .split{float:left;width:9px;text-align:center}
#ContentControlCate .cot1,#ContentControlCate .cot2,#ContentControlCate .cot3,#ContentControlCate .cot4,#ContentControlCate .cot5,#ContentControlCate .cot6,#ContentControlCate .cot7{float:left}
#ContentControlCate .cot1{ width: 30px}
#ContentControlCate .cot2{width:220px;padding-left:5px}
#ContentControlCate .cot3{width:100px;padding-left:5px}
#ContentControlCate .cot4{width:100px}
#ContentControlCate .cot5{width:55px}
#ContentControlCate .cot6{width:70px}
#ContentControlCate .cot7{width: 120px;text-align: right}
#ContentControlCate input[type=text]{width:40px;text-align:center}

#ContentControlCate .content{}
#ContentControlCate .content .FormatCellItem{background-color: #eae9e9}
#ContentControlCate .content .FormatCellItem:hover{background-color: #edf9eb}

#ContentControlCate .content .FormatCellItemOther{background-color: transparent}
#ContentControlCate .content .FormatCellItemOther:hover{background-color: #edf9eb}

#ContentControlCate .content .pdCellItem{padding: 10px 0}
#ContentControlCate .content .pdCellItemOther{padding: 10px 0}

#ContentControlCate .content .splitc{float:left;width:9px;text-align:center}
#ContentControlCate .content .SpaceRow{background-color:#2d2d2d;height:1px}
#ContentControlCate .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#ContentControlCate .content .Tool{ padding-left: 10px;float: right}
#ContentControlCate .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#ContentControlCate .EnableIcon0,#ContentControlCate .EnableIcon1{padding-top: 3px}

#ContentControlCate .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}
#ContentControlCate .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}