/*Cac Icon cua modul news*/
#ContactUsModul .iconDanhMuc,#ContactUsModul .iconDanhSach,#ContactUsModul .iconDanhMucThemMoi,#ContactUsModul .iconDanhSachThemMoi
{width:16px;height:16px;cursor:pointer;display:inline-block}
#ContactUsModul .iconDanhMuc{background:url(ManagerCategory.png) no-repeat}
#ContactUsModul .iconDanhSach{background:url(ManagerItem.png) no-repeat}
#ContactUsModul .iconDanhMucThemMoi{background:url(CreateCategory.png) no-repeat}
#ContactUsModul .iconDanhSachThemMoi{background:url(CreateItem.png) no-repeat}


/*LoadControls - Khung trang trai-phai*/
.PositionLeftControl{float:left;width: 208px}
.PositionRightControl{float:left;width:775px;min-height: 560px}

#FooterRightControl{border-top:0;text-align:right}
#FooterRightControl .pdFooterR{padding-left: 10px}
#FooterRightControl .ColShowItem{ float: right;width: 120px;padding-top: 12px}
#FooterRightControl .ColShowItem .TextShow{ float: left;width: 50px;padding-top:3px;padding-right:5px}
#FooterRightControl .ColShowItem .BoxShow{ float: left;width: 50px}
#FooterRightControl .ColPagging{float:right;width:auto}

#admitem .ColShowItem{ float: right;width: 120px;padding-top: 0}
#admitem .ColShowItem .TextShow{ float: left;width: 50px;padding-top:0;padding-right:5px}
#admitem .ColShowItem .BoxShow{ float: left;width: 50px}
#admitem .ColPagging{float:right;width:auto}
#admitem .AdminPagging a {}
#admitem .AdminPagging .currentPS {  
    line-height: 12px;
    margin: 1px;
    padding: 3px 9px;
}
#admitem .AdminPagging .otherPS {   
    line-height: 12px;
    margin: 1px;
    padding: 3px 9px;
}
#admitem .AdminPagging .firstPS {
    line-height: 12px;
    margin: 1px;
    padding: 3px 19px;
}
#admitem .AdminPagging .lastPS {
    line-height: 12px;
    margin: 1px;
    padding: 3px 19px;
}
#admitem .AdminPagging .previewPS {
    line-height: 12px;
    margin: 1px;
    padding: 3px 12px;
}
#admitem .AdminPagging .nextPS {
    line-height: 12px;
    margin: 1px;
    padding: 3px 12px;
}
/*End LoadControls - Khung trang trai-phai - end*/

/*Left Product - Cac menu quan ly ben trai*/
#ContactUsAdmLeftMenu{}
#ContactUsAdmLeftMenu .BgTabTongQuan{background:url(BgTabTongQuan.png) no-repeat;width:204px;height:37px;}
#ContactUsAdmLeftMenu .BgTabTongQuan a.TextInTabTongQuan{font:bold 12px Tahoma;color:#464646;display:block;padding-left:13px;line-height:29px;text-decoration:none}
#ContactUsAdmLeftMenu .BgTabTongQuan a.TextInTabTongQuan:hover{color:#52c313}
#ContactUsAdmLeftMenu .DanhMucQuanLy{font:bold 11px Tahoma;color:#4e4e4e;padding-left:13px;padding-top:5px;}
#ContactUsAdmLeftMenu .TextCateManager{float:left;font:normal 11px Tahoma;color:#4e4e4e;text-decoration:none;line-height:24px;}
#ContactUsAdmLeftMenu a.TextCateManager{float:left;font:normal 11px Tahoma;color:#4e4e4e;text-decoration:none;line-height:24px;}
#ContactUsAdmLeftMenu a.TextCateManager:hover{color:#00ad24}
#ContactUsAdmLeftMenu a.Selected{font-weight:bold}
#ContactUsAdmLeftMenu .InvisibleSpaceCate{display:none}
#ContactUsAdmLeftMenu .PdSpaceCate{height:1px;padding:5px 0 3px 0px;}
#ContactUsAdmLeftMenu .SpaceCate{background-color:#d4d4d4;height:1px;width:195px;}
#ContactUsAdmLeftMenu .PdIconInfomation{float:left;padding-left:9px;width:20px;padding-top:4px;}
#ContactUsAdmLeftMenu .PdSubIconRecycleBin{float:left;padding-left:45px;width:10px;padding-top:5px;}
#ContactUsAdmLeftMenu .PdIconSeo{float:left;padding-left:9px;width:20px;padding-top:4px}
#ContactUsAdmLeftMenu .PdIconMail{float:left;padding-left:9px;width:20px;padding-top:6px}
#ContactUsAdmLeftMenu .ArroundCate{position:relative;left:1px;width:208px;height:24px;border-left:solid 1px Transparent;border-top:solid 1px Transparent;border-bottom:solid 1px Transparent;}
#ContactUsAdmLeftMenu .ArroundCateSelected{background-color:#f9f9f9;position:relative;left:1px;width:207px;height:24px;border-left:solid 1px #d4d4d4;border-top:solid 1px #d4d4d4;border-bottom:solid 1px #d4d4d4}
*html #ContactUsAdmLeftMenu .ArroundCate{position:relative;left:1px;width:208px;height:24px;border-left:solid 1px Transparent;border-top:solid 1px Transparent;border-bottom:solid 1px Transparent;border:0;}
*html #ContactUsAdmLeftMenu .ArroundCateSelected{background-color:#f9f9f9;position:relative;left:1px;width:207px;height:24px;border-left:solid 1px #d4d4d4;border-top:solid 1px #d4d4d4;border-bottom:solid 1px #d4d4d4;}
/*Left Product - Cac menu quan ly ben trai - end*/