#ControlMenuBottom{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#ControlMenuBottom .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#ControlMenuBottom .BgTabTitle{font:bold 11px Tahoma;background:#d4d4d4;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#ControlMenuBottom .BgTabTitle a{font-weight:bold;line-height:26px}
#ControlMenuBottom .split{float:left;width:9px;text-align:center}
#ControlMenuBottom .cot1,#ControlMenuBottom .cot2,#ControlMenuBottom .cot3,#ControlMenuBottom .cot4,#ControlMenuBottom .cot5,#ControlMenuBottom .cot6,#ControlMenuBottom .cot7{float:left}
#ControlMenuBottom .cot1{ width: 30px}
#ControlMenuBottom .cot2{width:220px;padding-left:5px}
#ControlMenuBottom .cot3{width:100px;padding-left:5px}
#ControlMenuBottom .cot4{width:100px}
#ControlMenuBottom .cot5{width:55px}
#ControlMenuBottom .cot6{width:70px}
#ControlMenuBottom .cot7{width: 120px;text-align: right}
#ControlMenuBottom input[type=text]{width:40px;text-align:center}

#ControlMenuBottom .content{}
#ControlMenuBottom .content .FormatCellItem{background-color: #eae9e9}
#ControlMenuBottom .content .FormatCellItem:hover{background-color: #edf9eb}

#ControlMenuBottom .content .FormatCellItemOther{background-color: transparent}
#ControlMenuBottom .content .FormatCellItemOther:hover{background-color: #edf9eb}

#ControlMenuBottom .content .pdCellItem{padding: 10px 0}
#ControlMenuBottom .content .pdCellItemOther{padding: 10px 0}

#ControlMenuBottom .content .splitc{float:left;width:9px;text-align:center}
#ControlMenuBottom .content .SpaceRow{background-color:#2d2d2d;height:1px}
#ControlMenuBottom .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#ControlMenuBottom .content .Tool{ padding-left: 10px;float: right}
#ControlMenuBottom .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#ControlMenuBottom .EnableIcon0,#ControlMenuBottom .EnableIcon1{padding-top: 3px}

#ControlMenuBottom .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}
#ControlMenuBottom .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}

.ColPrintAndExcel{float:right;width:50px;margin-top:-25px}
.ColPrint{float:right;width:24px}
.ColExcel{float:right;width:20px}

