/*AdmShortCutColorgory*/
#admsccate{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:800px;_height:800px}
#admsccate .TxtInsertUpdate{background:#d4d4d4;height:28px; font: bold 12px Arial;color: #333;line-height: 28px;padding-left: 20px;display: block}
#admsccate .pdControl{padding:0 20px}
#admsccate .text{float:left;width:150px}
#admsccate .control{float:left;width:230px;position:relative;z-index:1;padding-top:3px}
#admsccate .TextSeoLink{font:bold 12px Tahoma;color: #444;padding-bottom: 15px}
#admsccate .pdButton{padding-left:150px}

#admsccate .controlImg{ float: left;width: 580px}
#admsccate .khungThuocTinh{border:solid 1px #d4d4d4;padding: 10px 20px}

#admsccate a.ThietLapAnh{color:Blue;position:absolute;top:10px;right:10px;z-index:2}
#admsccate a.ThietLapAnh:hover{color:Green}
#Toogle_ThietLapAnhDaiDien input[type=text]{width:30px;text-align:center}
/*AdmShortCutColorgory - end*/