#ContentRecycleCate{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#ContentRecycleCate .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#ContentRecycleCate .BgTabTitle{font:bold 11px Tahoma;background:#d4d4d4;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#ContentRecycleCate .BgTabTitle a{font-weight:bold;line-height:26px}
#ContentRecycleCate .split{float:left;width:9px;text-align:center}
#ContentRecycleCate .cot1,#ContentRecycleCate .cot2,#ContentRecycleCate .cot3,#ContentRecycleCate .cot4,#ContentRecycleCate .cot5{float:left}
#ContentRecycleCate .cot1{ width: 30px}
#ContentRecycleCate .cot2{width:220px;padding-left:5px}
#ContentRecycleCate .cot4{width:350px}
#ContentRecycleCate .cot5{width:55px}
#ContentRecycleCate .cot7{float: right;width: 50px;padding-right: 10px}
#ContentRecycleCate input[type=text]{width:40px;text-align:center}

#ContentRecycleCate .content{}
#ContentRecycleCate .content .FormatCellItem{background-color: #eae9e9}
#ContentRecycleCate .content .FormatCellItem:hover{background-color: #edf9eb}

#ContentRecycleCate .content .FormatCellItemOther{background-color: transparent}
#ContentRecycleCate .content .FormatCellItemOther:hover{background-color: #edf9eb}

#ContentRecycleCate .content .pdCellItem{padding: 10px 0}
#ContentRecycleCate .content .pdCellItemOther{padding: 10px 0}

#ContentRecycleCate .content .splitc{float:left;width:9px;text-align:center}
#ContentRecycleCate .content .SpaceRow{background-color:#2d2d2d;height:1px}
#ContentRecycleCate .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#ContentRecycleCate .content .Tool{ padding-left: 10px;float: right}
#ContentRecycleCate .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#ContentRecycleCate .EnableIcon0,#ContentRecycleCate .EnableIcon1{padding-top: 3px}

#ContentRecycleCate .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}
#ContentRecycleCate .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}

.ColPrintAndExcel{float:right;width:50px;margin-top:-25px}
.ColPrint{float:right;width:24px}
.ColExcel{float:right;width:20px}

