#ContactUsControlCate{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#ContactUsControlCate .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#ContactUsControlCate .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#ContactUsControlCate .BgTabTitle a{font-weight:bold;line-height:26px}
#ContactUsControlCate .split{float:left;width:9px;text-align:center}
#ContactUsControlCate .cot1,#ContactUsControlCate .cot2,#ContactUsControlCate .cot3,#ContactUsControlCate .cot4,#ContactUsControlCate .cot5,#ContactUsControlCate .cot6,#ContactUsControlCate .cot7{float:left}
#ContactUsControlCate .cot1{width:30px;text-align:center}
#ContactUsControlCate .cot2{width:220px;padding-left:5px}
#ContactUsControlCate .cot3{width:100px;padding-left:5px}
#ContactUsControlCate .cot4{width:100px}
#ContactUsControlCate .cot5{width:55px}
#ContactUsControlCate .cot6{width:70px}
#ContactUsControlCate .cot7{width: 120px;text-align: right}
#ContactUsControlCate input[type=text]{width:40px;text-align:center}

#ContactUsControlCate .content{}
#ContactUsControlCate .content .FormatCellItem{background-color: #F2F2F2}
#ContactUsControlCate .content .FormatCellItem:hover{background-color: #edf9eb}

#ContactUsControlCate .content .FormatCellItemOther{background-color: transparent}
#ContactUsControlCate .content .FormatCellItemOther:hover{background-color: #edf9eb}

#ContactUsControlCate .content .pdCellItem{padding: 10px 0}
#ContactUsControlCate .content .pdCellItemOther{padding: 10px 0}

#ContactUsControlCate .content .splitc{float:left;width:9px;text-align:center}
#ContactUsControlCate .content .SpaceRow{background-color:#D4D4D4;height:1px}
#ContactUsControlCate .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#ContactUsControlCate .content .Tool{ padding-left: 10px;float: right}
#ContactUsControlCate .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#ContactUsControlCate .EnableIcon0,#ContactUsControlCate .EnableIcon1{padding-top: 3px}

#ContactUsControlCate .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}
#ContactUsControlCate .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}