#ProductControlCate{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#ProductControlCate .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#ProductControlCate .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#ProductControlCate .BgTabTitle a{font-weight:bold;line-height:26px}
#ProductControlCate .split{float:left;width:9px;text-align:center}
#ProductControlCate .cot1,#ProductControlCate .cot2,#ProductControlCate .cot3,#ProductControlCate .cot4,#ProductControlCate .cot5,#ProductControlCate .cot6,#ProductControlCate .cot7{float:left}
#ProductControlCate .cot1{ width: 30px}
#ProductControlCate .cot2{width:220px;padding-left:5px}
#ProductControlCate .cot3{width:100px;padding-left:5px}
#ProductControlCate .cot4{width:100px}
#ProductControlCate .cot5{width:55px}
#ProductControlCate .cot6{width:70px}
#ProductControlCate .cot7{width: 120px;text-align: right}
#ProductControlCate input[type=text]{width:40px;text-align:center}

#ProductControlCate .content{}
#ProductControlCate .content .FormatCellItem{background-color: #F2F2F2}
#ProductControlCate .content .FormatCellItem:hover{background-color: #edf9eb}

#ProductControlCate .content .FormatCellItemOther{background-color: transparent}
#ProductControlCate .content .FormatCellItemOther:hover{background-color: #edf9eb}

#ProductControlCate .content .pdCellItem{padding: 10px 0}
#ProductControlCate .content .pdCellItemOther{padding: 10px 0}

#ProductControlCate .content .splitc{float:left;width:9px;text-align:center}
#ProductControlCate .content .SpaceRow{background-color:#D4D4D4;height:1px}
#ProductControlCate .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#ProductControlCate .content .Tool{ padding-left: 10px;float: right}
#ProductControlCate .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#ProductControlCate .EnableIcon0,#ProductControlCate .EnableIcon1{padding-top: 3px}

#ProductControlCate .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}
#ProductControlCate .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}