#TagControlCate{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#TagControlCate .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#TagControlCate .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#TagControlCate .BgTabTitle a{font-weight:bold;line-height:26px}
#TagControlCate .split{float:left;width:9px;text-align:center}
#TagControlCate .cot1,#TagControlCate .cot2,#TagControlCate .cot3,#TagControlCate .cot4,#TagControlCate .cot5,#TagControlCate .cot6,#TagControlCate .cot7{float:left}
#TagControlCate .cot1{width:30px;text-align:center}
#TagControlCate .cot2{width:205px;padding-left:10px;position:relative;z-index:1}
#TagControlCate .cot3{width:86px;padding-left:5px}
#TagControlCate .cot4{width:70px}
#TagControlCate .cot5{width:55px}
#TagControlCate .cot6{width:70px}
#TagControlCate .cot7{width: 75px;text-align: right}
#TagControlCate input[type=text]{width:40px;text-align:center}

#TagControlCate .content{}
#TagControlCate .content .FormatCellItem{background-color: #F2F2F2}
#TagControlCate .content .FormatCellItem:hover{background-color: #edf9eb}

#TagControlCate .content .FormatCellItemOther{background-color: transparent}
#TagControlCate .content .FormatCellItemOther:hover{background-color: #edf9eb}

#TagControlCate .content .pdCellItem{padding: 10px 0}
#TagControlCate .content .pdCellItemOther{padding: 10px 0}

#TagControlCate .content .splitc{float:left;width:9px;text-align:center}
#TagControlCate .content .SpaceRow{background-color:#D4D4D4;height:1px}
#TagControlCate .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#TagControlCate .content .Tool{ padding-left: 10px;float: right}
#TagControlCate .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#TagControlCate .EnableIcon0,#TagControlCate .EnableIcon1{padding-top: 3px}

#TagControlCate .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;display:block;position:absolute;z-index:1;left:-4px;top:1px}
#TagControlCate .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;display:block;position:absolute;z-index:1;left:-4px;top:1px}