#ServiceRecycleCate{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#ServiceRecycleCate .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#ServiceRecycleCate .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#ServiceRecycleCate .BgTabTitle a{font-weight:bold;line-height:26px}
#ServiceRecycleCate .split{float:left;width:9px;text-align:center}
#ServiceRecycleCate .cot1,#ServiceRecycleCate .cot2,#ServiceRecycleCate .cot3,#ServiceRecycleCate .cot4,#ServiceRecycleCate .cot5{float:left}
#ServiceRecycleCate .cot1{ width: 30px}
#ServiceRecycleCate .cot2{width:220px;padding-left:5px}
#ServiceRecycleCate .cot4{width:350px}
#ServiceRecycleCate .cot5{width:55px}
#ServiceRecycleCate .cot7{float: right;width: 50px;padding-right: 10px}
#ServiceRecycleCate input[type=text]{width:40px;text-align:center}

#ServiceRecycleCate .content{}
#ServiceRecycleCate .content .FormatCellItem{background-color: #F2F2F2}
#ServiceRecycleCate .content .FormatCellItem:hover{background-color: #edf9eb}

#ServiceRecycleCate .content .FormatCellItemOther{background-color: transparent}
#ServiceRecycleCate .content .FormatCellItemOther:hover{background-color: #edf9eb}

#ServiceRecycleCate .content .pdCellItem{padding: 10px 0}
#ServiceRecycleCate .content .pdCellItemOther{padding: 10px 0}

#ServiceRecycleCate .content .splitc{float:left;width:9px;text-align:center}
#ServiceRecycleCate .content .SpaceRow{background-color:#D4D4D4;height:1px}
#ServiceRecycleCate .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#ServiceRecycleCate .content .Tool{ padding-left: 10px;float: right}
#ServiceRecycleCate .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#ServiceRecycleCate .EnableIcon0,#ServiceRecycleCate .EnableIcon1{padding-top: 3px}

#ServiceRecycleCate .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}
#ServiceRecycleCate .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}

.ColPrintAndExcel{float:right;width:50px;margin-top:-25px}
.ColPrint{float:right;width:24px}
.ColExcel{float:right;width:20px}

