#AdmControlsConfigHidden{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px;padding:0 20px}
#AdmControlsConfigHidden .caution{font:normal 12px/20px Tahoma;color:#ff0000;padding-bottom:20px}
#AdmControlsConfigHidden .motChucNang{clear:both;padding-top:10px}
#AdmControlsConfigHidden .cbh8{clear:both;height:8px}
#AdmControlsConfigHidden .tac{text-align:center}
#AdmControlsConfigHidden #AddPictureToItems a.lbtInsert{font:bold 12px Tahoma;color:#555;text-decoration:none}
#AdmControlsConfigHidden #AddPictureToItems .hotelImage{width:150px;border:0}

#AdmControlsConfigHidden #AddPictureToItems .cb{clear:both}
#AdmControlsConfigHidden #AddPictureToItems .fwb{font-weight:bold}
#AdmControlsConfigHidden #AddPictureToItems .cRed{color:red}
#AdmControlsConfigHidden #AddPictureToItems .ffTahoma{font-family:Tahoma}
#AdmControlsConfigHidden #AddPictureToItems .fs12{font-size:12px}
#AdmControlsConfigHidden #AddPictureToItems .ma{margin:auto}
#AdmControlsConfigHidden #AddPictureToItems .tac{text-align:center}
#AdmControlsConfigHidden #AddPictureToItems .w900{width:900px}
#AdmControlsConfigHidden #AddPictureToItems .w200{width:200px}
#AdmControlsConfigHidden #AddPictureToItems .w120{width:120px}
#AdmControlsConfigHidden #AddPictureToItems .w100{width:100px}
#AdmControlsConfigHidden #AddPictureToItems .w50{width:50px}
#AdmControlsConfigHidden #AddPictureToItems .h5{height:5px}
#AdmControlsConfigHidden #AddPictureToItems .h20{height:20px}
#AdmControlsConfigHidden #AddPictureToItems .pb10{padding-bottom:10px}
#AdmControlsConfigHidden #AddPictureToItems .pb15{padding-bottom:15px}
#AdmControlsConfigHidden #AddPictureToItems .pt10{padding-top:10px}
#AdmControlsConfigHidden #AddPictureToItems .pb5{padding-bottom:5px}
#AdmControlsConfigHidden #AddPictureToItems .pt5{padding-top:5px}
#AdmControlsConfigHidden #AddPictureToItems .pl5{padding-left:5px}
#AdmControlsConfigHidden #AddPictureToItems .pr5{padding-right:5px}
#AdmControlsConfigHidden #AddPictureToItems .fl{float:left}
#AdmControlsConfigHidden #AddPictureToItems #ListColor tr{float:left;width:220px}
.bdas{border:solid 1px #d8d8d8}
.bdts{border-top:solid 1px #d8d8d8}
.bdrs{border-right:solid 1px #d8d8d8}
.bdbs{border-bottom:solid 1px #d8d8d8}
.bdls{border-left:solid 1px #d8d8d8}
.bcccc{background:#ccc}