#FileLibrary2RecycleCate{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#FileLibrary2RecycleCate .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#FileLibrary2RecycleCate .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#FileLibrary2RecycleCate .BgTabTitle a{font-weight:bold;line-height:26px}
#FileLibrary2RecycleCate .split{float:left;width:9px;text-align:center}
#FileLibrary2RecycleCate .cot1,#FileLibrary2RecycleCate .cot2,#FileLibrary2RecycleCate .cot3,#FileLibrary2RecycleCate .cot4,#FileLibrary2RecycleCate .cot5{float:left}
#FileLibrary2RecycleCate .cot1{ width: 30px}
#FileLibrary2RecycleCate .cot2{width:220px;padding-left:5px}
#FileLibrary2RecycleCate .cot4{width:350px}
#FileLibrary2RecycleCate .cot5{width:55px}
#FileLibrary2RecycleCate .cot7{float: right;width: 50px;padding-right: 10px}
#FileLibrary2RecycleCate input[type=text]{width:40px;text-align:center}

#FileLibrary2RecycleCate .content{}
#FileLibrary2RecycleCate .content .FormatCellItem{background-color: #F2F2F2}
#FileLibrary2RecycleCate .content .FormatCellItem:hover{background-color: #edf9eb}

#FileLibrary2RecycleCate .content .FormatCellItemOther{background-color: transparent}
#FileLibrary2RecycleCate .content .FormatCellItemOther:hover{background-color: #edf9eb}

#FileLibrary2RecycleCate .content .pdCellItem{padding: 10px 0}
#FileLibrary2RecycleCate .content .pdCellItemOther{padding: 10px 0}

#FileLibrary2RecycleCate .content .splitc{float:left;width:9px;text-align:center}
#FileLibrary2RecycleCate .content .SpaceRow{background-color:#D4D4D4;height:1px}
#FileLibrary2RecycleCate .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#FileLibrary2RecycleCate .content .Tool{ padding-left: 10px;float: right}
#FileLibrary2RecycleCate .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#FileLibrary2RecycleCate .EnableIcon0,#FileLibrary2RecycleCate .EnableIcon1{padding-top: 3px}

#FileLibrary2RecycleCate .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}
#FileLibrary2RecycleCate .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}

.ColPrintAndExcel{float:right;width:50px;margin-top:-25px}
.ColPrint{float:right;width:24px}
.ColExcel{float:right;width:20px}

