#ProductRecycleCate{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#ProductRecycleCate .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#ProductRecycleCate .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#ProductRecycleCate .BgTabTitle a{font-weight:bold;line-height:26px}
#ProductRecycleCate .split{float:left;width:9px;text-align:center}
#ProductRecycleCate .cot1,#ProductRecycleCate .cot2,#ProductRecycleCate .cot3,#ProductRecycleCate .cot4,#ProductRecycleCate .cot5{float:left}
#ProductRecycleCate .cot1{ width: 30px}
#ProductRecycleCate .cot2{width:220px;padding-left:5px}
#ProductRecycleCate .cot4{width:350px}
#ProductRecycleCate .cot5{width:55px}
#ProductRecycleCate .cot7{float: right;width: 50px;padding-right: 10px}
#ProductRecycleCate input[type=text]{width:40px;text-align:center}

#ProductRecycleCate .content{}
#ProductRecycleCate .content .FormatCellItem{background-color: #F2F2F2}
#ProductRecycleCate .content .FormatCellItem:hover{background-color: #edf9eb}

#ProductRecycleCate .content .FormatCellItemOther{background-color: transparent}
#ProductRecycleCate .content .FormatCellItemOther:hover{background-color: #edf9eb}

#ProductRecycleCate .content .pdCellItem{padding: 10px 0}
#ProductRecycleCate .content .pdCellItemOther{padding: 10px 0}

#ProductRecycleCate .content .splitc{float:left;width:9px;text-align:center}
#ProductRecycleCate .content .SpaceRow{background-color:#D4D4D4;height:1px}
#ProductRecycleCate .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#ProductRecycleCate .content .Tool{ padding-left: 10px;float: right}
#ProductRecycleCate .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#ProductRecycleCate .EnableIcon0,#ProductRecycleCate .EnableIcon1{padding-top: 3px}

#ProductRecycleCate .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}
#ProductRecycleCate .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}

.ColPrintAndExcel{float:right;width:50px;margin-top:-25px}
.ColPrint{float:right;width:24px}
.ColExcel{float:right;width:20px}

