/*AdmControlsItems.ascx*/
#admitem{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#admitem .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px;position:relative;z-index:1}
#admitem .BgTabTool .right{position:absolute;z-index:2;right:5px;top:5px}

#admitem .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#admitem .BgTabTitle a{font-weight:bold;line-height:26px}
#admitem .SizeImage{width:90px;border:0;padding-right:5px}
#admitem .split{float:left;width:9px;text-align:center}
#admitem .cot1,#admitem .cot2,#admitem .cot3,#admitem .cot4,#admitem .cot5,#admitem .cot6
{float:left}
#admitem .cot1{width:35px}
#admitem .cot2{width:320px;padding-left:5px}
#admitem .cot3{width:125px}
#admitem .cot4{width:60px}
#admitem .cot5{width:70px}
#admitem .tool a{padding:0 3px}
#admitem .bgItem{padding:6px 0}
#admitem .bgItem:hover{background:#edf9eb}
#admitem .vien{height:1px;background:#d4d4d4}
#admitem .BgButtonSearch{width:59px;height:20px;display:inline-block;background:url(SearchButton.png) no-repeat}
#admitem .BgButtonSearch:hover{background:url(SearchButtonHover.png) no-repeat}
#admitem .TxtInBox{font:normal 11px Arial}
#admitem .iconInfo{background:url(info.png) no-repeat;width:16px;height:16px;display:inline-block}

.ColPrintAndExcel{float:right;width:50px;margin-top:-25px}
.ColPrint{float:right;width:24px}
.ColExcel{float:right;width:20px}
/*AdmControlsItems.ascx*/