#TrainTicketControlProperty{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#TrainTicketControlProperty .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#TrainTicketControlProperty .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#TrainTicketControlProperty .BgTabTitle a{font-weight:bold;line-height:26px}
#TrainTicketControlProperty .split{float:left;width:9px;text-align:center}
#TrainTicketControlProperty .cot1,#TrainTicketControlProperty .cot2,#TrainTicketControlProperty .cot3,#TrainTicketControlProperty .cot4,#TrainTicketControlProperty .cot5,#TrainTicketControlProperty .cot6,#TrainTicketControlProperty .cot7{float:left}
#TrainTicketControlProperty .cot1{width:30px;text-align:center}
#TrainTicketControlProperty .cot2{width:220px;padding-left:5px}
#TrainTicketControlProperty .cot3{width:100px;padding-left:5px}
#TrainTicketControlProperty .cot4{width:100px}
#TrainTicketControlProperty .cot5{width:55px}
#TrainTicketControlProperty .cot6{width:70px}
#TrainTicketControlProperty .cot7{width: 120px;text-align: right;float:right;padding-right:10px}
#TrainTicketControlProperty input[type=text]{width:40px;text-align:center}

#TrainTicketControlProperty .content{}
#TrainTicketControlProperty .content .FormatCellItem{background-color: #F2F2F2}
#TrainTicketControlProperty .content .FormatCellItem:hover{background-color: #edf9eb}

#TrainTicketControlProperty .content .FormatCellItemOther{background-color: transparent}
#TrainTicketControlProperty .content .FormatCellItemOther:hover{background-color: #edf9eb}

#TrainTicketControlProperty .content .pdCellItem{padding: 10px 0}
#TrainTicketControlProperty .content .pdCellItemOther{padding: 10px 0}

#TrainTicketControlProperty .content .splitc{float:left;width:9px;text-align:center}
#TrainTicketControlProperty .content .SpaceRow{background-color:#D4D4D4;height:1px}
#TrainTicketControlProperty .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#TrainTicketControlProperty .content .Tool{ padding-left: 10px;float: right}
#TrainTicketControlProperty .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#TrainTicketControlProperty .EnableIcon0,#TrainTicketControlProperty .EnableIcon1{padding-top: 3px}

#TrainTicketControlProperty .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}
#TrainTicketControlProperty .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}