#CustomerRecycleCate{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#CustomerRecycleCate .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#CustomerRecycleCate .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#CustomerRecycleCate .BgTabTitle a{font-weight:bold;line-height:26px}
#CustomerRecycleCate .split{float:left;width:9px;text-align:center}
#CustomerRecycleCate .cot1,#CustomerRecycleCate .cot2,#CustomerRecycleCate .cot3,#CustomerRecycleCate .cot4,#CustomerRecycleCate .cot5{float:left}
#CustomerRecycleCate .cot1{ width: 30px}
#CustomerRecycleCate .cot2{width:220px;padding-left:5px}
#CustomerRecycleCate .cot4{width:350px}
#CustomerRecycleCate .cot5{width:55px}
#CustomerRecycleCate .cot7{float: right;width: 50px;padding-right: 10px}
#CustomerRecycleCate input[type=text]{width:40px;text-align:center}

#CustomerRecycleCate .content{}
#CustomerRecycleCate .content .FormatCellItem{background-color: #F2F2F2}
#CustomerRecycleCate .content .FormatCellItem:hover{background-color: #edf9eb}

#CustomerRecycleCate .content .FormatCellItemOther{background-color: transparent}
#CustomerRecycleCate .content .FormatCellItemOther:hover{background-color: #edf9eb}

#CustomerRecycleCate .content .pdCellItem{padding: 10px 0}
#CustomerRecycleCate .content .pdCellItemOther{padding: 10px 0}

#CustomerRecycleCate .content .splitc{float:left;width:9px;text-align:center}
#CustomerRecycleCate .content .SpaceRow{background-color:#D4D4D4;height:1px}
#CustomerRecycleCate .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#CustomerRecycleCate .content .Tool{ padding-left: 10px;float: right}
#CustomerRecycleCate .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#CustomerRecycleCate .EnableIcon0,#CustomerRecycleCate .EnableIcon1{padding-top: 3px}

#CustomerRecycleCate .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}
#CustomerRecycleCate .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;float: left;display: block}

.ColPrintAndExcel{float:right;width:50px;margin-top:-25px}
.ColPrint{float:right;width:24px}
.ColExcel{float:right;width:20px}

