#AdmFooter{padding:10px 0 10px 0;}
#AdmFooter .AboutUs{font:normal 11px Tahoma;color:#504f4f;display:block;float:left}
#AdmFooter .TextSpaceCol{font:normal 11px Tahoma;color:#504f4f;display:block;float:left;padding:0 20px}
#AdmFooter a.LinkFooter{font:normal 11px Tahoma;color:#504f4f;display:block;float:left;text-decoration:none}
#AdmFooter a.LinkFooter:hover{color:#1c9401}