#DealControlFilter{border:solid 1px #d4d4d4;background:#f9f9f9;min-height:650px;_height:650px}
#DealControlFilter .BgTabTool{background:#f9f9f9;height:28px;padding:0 15px}
#DealControlFilter .BgTabTitle{font:bold 11px Tahoma;background:#eae9e9;border-top:solid 1px #fff;border-bottom:solid 1px #fff;height:28px;line-height:26px}
#DealControlFilter .BgTabTitle a{font-weight:bold;line-height:26px}
#DealControlFilter .split{float:left;width:9px;text-align:center}
#DealControlFilter .cot1,#DealControlFilter .cot2,#DealControlFilter .cot3,#DealControlFilter .cot4,#DealControlFilter .cot5,#DealControlFilter .cot6,#DealControlFilter .cot7{float:left}
#DealControlFilter .cot1{width:30px;text-align:center}
#DealControlFilter .cot2{width:180px;padding-left:10px;position:relative;z-index:1}
#DealControlFilter .cot3{width:120px;padding-left:5px}
#DealControlFilter .cot4{width:100px}
#DealControlFilter .cot5{width:55px}
#DealControlFilter .cot6{width:70px}
#DealControlFilter .cot7{width: 120px;text-align: right;float:right;padding-right:10px}
#DealControlFilter input[type=text]{width:40px;text-align:center}

#DealControlFilter .content{}
#DealControlFilter .content .FormatCellItem{background-color: #F2F2F2}
#DealControlFilter .content .FormatCellItem:hover{background-color: #edf9eb}

#DealControlFilter .content .FormatCellItemOther{background-color: transparent}
#DealControlFilter .content .FormatCellItemOther:hover{background-color: #edf9eb}

#DealControlFilter .content .pdCellItem{padding: 10px 0}
#DealControlFilter .content .pdCellItemOther{padding: 10px 0}

#DealControlFilter .content .splitc{float:left;width:9px;text-align:center}
#DealControlFilter .content .SpaceRow{background-color:#D4D4D4;height:1px}
#DealControlFilter .content .SpaceRowOther{background-color:#e8e8e8;height:1px}
#DealControlFilter .content .Tool{ padding-left: 10px;float: right}
#DealControlFilter .content .TextInBox{ width: 30px;font: normal 11px Tahoma;text-align: center}
#DealControlFilter .EnableIcon0,#DealControlFilter .EnableIcon1{padding-top: 3px}

#DealControlFilter .IcoArrowShow0{ background: url(ico-arrow-current.png) center 3px no-repeat;width: 15px;height: 12px;display:block;position:absolute;z-index:1;left:-4px;top:1px}
#DealControlFilter .IcoArrowShow1{ background: url(ico-arrow-show.png) center 3px no-repeat;width: 15px;height: 12px;display:block;position:absolute;z-index:1;left:-4px;top:1px}